@import "tailwindcss";

@theme{
  --color-primary: #4da6ff;
  --color-primary-dark: #2b8ce0;
  --color-primary-light: #e8f2faff;
  --color-secondary: #041f4c;
  --color-secondary-dark: #021132;
  --color-secondary-light: #4d5a99;
}

/* Sur mobile: sidebar cachée par défaut (hors écran) */
@media (max-width: 639px) {
  aside[class*="sidebar"] {
    transform: translateX(-100%);
  }
  
  aside[class*="sidebar"].open {
    transform: translateX(0);
  }
}

/* Sur desktop: sidebar toujours visible */
@media (min-width: 640px) {
  aside[class*="sidebar"] {
    transform: translateX(0) !important;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 25px !important;
  height: 25px !important;
  color: #4da6ff !important; 
}